---
// src/components/resume/Header.astro
/**
 * Displays the main header for the resume, including personal details and contact information.
 * It's designed to be data-driven, receiving all necessary information via props.
 */

import { Instagram, Github, Linkedin, MapPin } from "lucide-astro";

interface Props {
  name: string;
  role: string;
  location: string;
  linkedin: string;
  github: string;
  instagram: string;
}

const { name, role, location, github, linkedin, instagram } = Astro.props;
---

<header class="flex flex-col sm:flex-row justify-between items-start" id={"header"}>
  <!-- Left Column: Name and Role -->
  <div class="mb-4 md:mb-0">
    <h1 class="text-4xl font-bold">{name}</h1>
    <p class="text-lg text-muted-foreground">{role}</p>
    <p class="text-sm text-muted-foreground flex items-center mt-2">
      <MapPin className="inline-block size-4 mr-1" />
      {location}
    </p>
  </div>

  <!-- Right Column: Contact Info -->
  <div class="text-sm text-right flex sm:flex-col gap-1 sm:gap-2">
    <a
      href={linkedin}
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center justify-end mb-1 hover:text-primary"
    >
      <span class="sm:block hidden">LinkedIn</span>
      <Linkedin class="inline-block size-5 sm:size-4 ml-2" />
    </a>
    <a
      href={github}
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center justify-end mb-1 hover:text-primary"
    >
      <span class="sm:block hidden">GitHub</span>
      <Github class="inline-block size-5 sm:size-4 ml-2" />
    </a>
    <a
      href={instagram}
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center justify-end mb-1 hover:text-primary"
    >
      <span class="sm:block hidden">Instagram</span>
      <Instagram class="inline-block size-5 sm:size-4 ml-2" />
    </a>
  </div>
</header>
<div class="mt-8 mb-2 h-0.5 bg-base-content/50 rounded-xl"/>